<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>EvenTUM</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


<!--
	<link rel="stylesheet" href="../../../css/startpage/bootstrap.min.css">
	<link rel="stylesheet" href="../../../css/startpage/font-awesome.min.css">
	<link rel="stylesheet" href="../../../css/startpage/animate.min.css">
	<link rel="stylesheet" href="../../../css/startpage/et-line-font.css">
	<link rel="stylesheet" href="../../../css/startpage/nivo-lightbox.css">
	<link rel="stylesheet" href="../../../css/startpage/default.css">
	<link rel="stylesheet" href="../../../css/startpage/style1.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	-->
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">



<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>The Momentum of Events</h3>
				<h1>EvenTUM</h1>
				<hr>
				<h5>The all-in-one solution for event-planning</h5>
				<hr>
				<a href="#/Invitation/new" class="btn btn-default">Insert Offer</a>
				<a href="" class="btn btn-default">Create Event</a>
			</div>
		</div>
	</div>		
</section>

<!--
<script src="../../../js/startpage/jquery.js"></script>
<script src="../../../js/startpage/bootstrap.min.js"></script>
<script src="../../../js/startpage/smoothscroll.js"></script>
<script src="../../../js/startpage/isotope.js"></script>
<script src="../../../js/startpage/imagesloaded.min.js"></script>
<script src="../../../js/startpage/nivo-lightbox.min.js"></script>
<script src="../../../js/startpage/jquery.backstretch.min.js"></script>
<script src="../../../js/startpage/wow.min.js"></script>
<script src="../../../js/startpage/custom.js"></script>
-->
</body>
</html>