<section id="home">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-6 col-md-offset-3">
				<p class="slogan">The Momentum of Events</p>
				<h1>EvenTUM</h1>
				<p class="border-top-bottom">The all-in-one solution for event-planning</p>
				<nav ng-show="isLoggedin">
					<a href="#/offer" class="btn btn-default">Insert Offer</a>
					<a href="#/event" class="btn btn-default">Create Event</a>
				</nav>
			</div>
		</div>
	</div>
</section>

<div login></div>
<div register></div>