body {
    padding-top:80px;
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

main {
    margin-bottom: 6rem;
}

.navbar-inverse .navbar-nav>li>a.btn {
    color: white;
    padding: 10px 15px;
}

.navbar-right li {
    padding: 0 0.5rem;
}

.no-overflow {
    overflow: hidden;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.row-flex .event-card {
    margin: 1% 1% 1% 0;
    min-height: 150px;
    min-width: 220px;
    width: 24%;
}

.border-top-bottom {
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: 1.6rem 0;
}

.no-padding {
    padding: 0;
    overflow: hidden;
}

.panel-body .table > tbody > tr > th,
.panel-body .table > tbody > tr > td {
    border: none;
}


#home {
    background-image: url(https://pixabay.com/static/uploads/photo/2015/10/12/15/09/concert-984237_960_720.jpg);
    background-size: cover;
    color: white;
    padding-top: 80px;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}

#home p {
    font-size: 1.8rem;
}

#home .slogan {
    font-size: 2.4rem;
    font-weight: bold;
}

#footer {
    background-color: #ccc;
    line-height: 3em;
    position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    text-align: center;

}