<div class="container" >
    <h2>Create offer</h2>
    <div class="row-flex">
        <div class="col-md-3">
            <div class="thumbnail event-card">
                <div class="caption">
                    <h3>Create location</h3>
                    <footer>
                        <a href="#/location" class="btn btn-success" role="button">Got it!</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail event-card">
                <div class="caption">
                    <h3>Create caterer</h3>
                    <footer>
                        <a href="#/caterer" class="btn btn-success" role="button">Got it</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail event-card">
                <div class="caption">
                    <h3>Create invitation</h3>
                    <footer>
                        <a href="#/invitation" class="btn btn-success" role="button">Got it!</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>