<div class="starter-template">
    <h1>Locations</h1>
    <p class="lead">{{message}}.</p>
</div>

<div class = "row">
    <div class = "col-md-12">
        <table class = "table table-hover table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Address</th>
                <th>Capacity</th>
                <th>Price</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Loc in Location">
                <td>{{Loc.name}}</td>
                <td>{{Loc.pic}}</td>
                <td>{{Loc.description}}</td>
                <td>{{Loc.address}}</td>
                <td>{{Loc.capacity}}</td>
                <td>{{Loc.price}}</td>
                <td><a href="#/Location/{{Loc._id}}/edit" class="btn btn-default btn-sm">Edit</a></td>
                <td><a href="" ng-click="deleteLoc(Loc)" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href = "#/location/new" class = "btn btn-default">Add new Location</a>
</div>
