<div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
        <input id="name" name="name" type="text" placeholder="Name" class="input-xlarge" ng-model="inv.name">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="pattern">Pattern</label>
    <div class="controls">
        Make sure your image is in 16:9 format. <br>
        The object should fill the whole picture.
        <p></p>
        <input id="pattern" name="pattern" type="file" accept="image/*" onchange="loadFile(event)" ng.model="inv.pattern">
        <img height=100px width=150px id="output"/>
        <script>
            var loadFile = function(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('output');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            };
        </script>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="textinput">Description</label>
    <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="Birthday/Party template" class="input-xlarge" ng-model="inv.description">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="textinput">Price per Persone</label>
    <div class="controls">
        <input id="textinput" name="textinput" type="text" placeholder="5 € template" class="input-xlarge" ng-model="inv.pricePerPerson">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="salutation">Salutation</label>
    <div class="controls">
        <input id="salutation" name="salutation" type="text" placeholder="Hello my friends" class="input-xlarge" ng-model="inv.salutation">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="text">Text</label>
    <div class="controls">
        <input id="text" name="text" type="text" placeholder="I celebrate ..." class="input-xlarge" ng-model="inv.text">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="greeting">Greeting</label>
    <div class="controls">
        <input id="greeting" name="greeting" type="text" placeholder="See you" class="input-xlarge" ng-model="inv.greeting">
    </div>
</div>

<!-- Button -->
<div class="control-group">
    <div class="controls">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>