<nav style="float: left; margin: 0 auto;">

    <link href="css/style.css" rel="stylesheet">

        <h3>Location</h3>
        <div class="scroll" id="cont" ng-include="'app/templates/Location/table.html'" ng-controller="LocationListController"></div>

        <h3>Caterer</h3>
        <div class="scroll" id="cont" ng-include="'app/templates/Caterer/table.html'" ng-controller="CatererListController"></div>

        <h3>Invitation</h3>
        <div class="scroll" id="cont" ng-include="'app/templates/Invitation/table.html'" ng-controller="InvitationListController"></div>



</nav>
